#container {
    width: 1024px;
    height: 100vh;
    margin: 0 auto;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test1 {
    color: red;
}

a {
    text-decoration: none;
}