#container{
    width: 1024px;
    height:100vh;
    margin: 0 auto;
    background-image: url(./image/paojieshengri.png);
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color:green;
    text-decoration: none;
}