* {
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
}

#container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image:url(./image/你的名字.jpg);
    /* background-image:url(./image/罪恶王冠.jpg); */
    /* background-image: url(./image/超电磁炮.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    position: relative;
    background-image: url(./image/超电磁炮.jpg);
    /* opacity: 0.5; */
    background-repeat: no-repeat;
    background-size: cover;
    /*  */
    font-family: kaiti;
    width: 400px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.50);
    color: #FB7299;  /*全局颜色*/
    border-radius: 25px 25px 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 600px;
    height: 400px;
    margin: 0 auto;
    border: 1px red solid;
    text-align: center; */
}

h2 {
    font-size: 2em;
    text-align: center;
}

.box1 {
    /* position: absolute; */
    position: relative;
    margin: 20px 0;
    /* background-color: transparent; */
    /* border: none; */
    border-bottom: 2px solid wheat;
}

.box1 input {
    background-color: transparent;
    border: none;
}

/* .box1 input:focus{
    background-color: transparent;
    border: none;
} */

.remember-forget {
    margin: 20px 0 20px;
}

.remember-forget span {
    margin-left: -8px;

}

.remember-forget label input {
    accent-color: rgb(0, 0, 255);
    /* 选中时候选项框的颜色 */
}

.remember-forget a {
    /* “忘记密码”的字体颜色 */
    color: red;
}

#login-button button {
    /* 登录按钮 */
    font-family: kaiti;
    font-weight: bold;
    font-size: 20px;
    /* border: none; */
    border-radius: 25px;
    width: 100%;
    height: 30px;
    background-color:#FB7299;
    color:white;
    margin-bottom: 20px;
}

#signin-button{
    color:white;
    /* 隐藏按钮链接的颜色 */

}
#signup a {
    color: green;
}